
#tabs {
	min-height: 10em;
	margin-bottom: 2em;
}
#tabs-1, #tabs-2, #tabs-3 {
	margin-bottom: 0;
}
#submit {
	width: 10em;
}
span {
	color: red;
}
fieldset {
	border: none;
	margin-left: 0;
	margin-top: 1em;
	padding: 0;
}
.form-formatting {
    font-size: 87.5%;
    margin: 0 auto;
    width: 380px;
	padding: 10px 30px 10px 30px;
}
@media screen and (max-width: 600px) {
	.form-formatting {
	  width: 300px;
	}
  }